<!DOCTYPE html>
<html>
  <head>
    <title>WineStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <div id="menu" >
        <table id="menutable" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td id="home" width="29%">
              <%= link_to "Főoldal", '../home/fooldal' %>
            </td>
            <td id="shop" width="29%">
              <%= link_to "Bolt", '../shop/bolt' %>
            </td>
            <td id="advice" width="29%">
              <%= link_to "Tanácsok", '../advice/tanacsok' %>
            </td>
            <td id="cart" width="13%">
              <%= link_to "Kosár", '../cart/kosar' %>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      <div id="page">
        
        <%= yield %>
  
      </div>
      <div id="footer">ÁSZF, Elérhetőségek, Hasznos információk</div>
    
  </body>
</html>
